<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-zoom-control-2" version="0.4.2" xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
    <name>cordova-plugin-zoom-control</name>
    <js-module name="ZoomControl" src="www/plugins.ZoomControl.js">
        <clobbers target="cordova.plugins.ZoomControl"/>
    </js-module>
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="ZoomControl">
                <param name="android-package" value="com.kumbe.phonegap.zoom.ZoomControl"/>
            </feature>
        </config-file>
        <source-file src="src/android/ZoomControl.java" target-dir="src/com/kumbe/phonegap/zoom"/>
    </platform>
</plugin>
